html,
body,
#root {
  height: 100%;
  background-color: var(--body-bg);
  color: var(--text-color-normal);
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  transition: all 0.25s;
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
